@import url(../../index.css);

body {
    overflow-y: hidden;
}

form {
    flex-direction: column;
    justify-content: space-between;
    height: 85dvh;
    gap: 1rem;
}

form label {
    display: block;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0;
}

.custom-radio {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.custom-radio > div {
    padding: 0.3rem 2rem;
    width: 100%;
    text-align: center;
    border-radius: 25px;
    font-size: medium;
    transition: var(--transition);
}

.custom-radio > div:active {
    background-color: var(--secondary);
}

.active {
    font-weight: 600;
    background-color: var(--primary);
    color: var(--white);
}

.popover-wrapper {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -999;
    top: 0%;
    left: 0%;
    transition: var(--transition);
}

.payment-popover {
    background-color: var(--background);
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 100dvh;
    left: 0%;
}
