@import url(../../index.css);

.header a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4rem;
}

.recommendations {
    padding: 0.4rem 0;
}

.recommendations .scrollable {
    padding: 0.2rem 1rem;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.recommendation-card {
    scroll-snap-align: start;
    padding: 0 0 0 1rem;
}

.recommendations img {
    aspect-ratio: 16 / 9;
    width: 230px;
    object-fit: cover;
    border-radius: 8px;
}

.favorite-card {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.rating {
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.rating-stars {
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.stars {
    align-items: center;
    justify-content: space-around;
}

.favorite-actions {
    display: flex;
    gap: 1rem;
}
